---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Febrero 2024",
    title: "Analista de sistemas de comisiones",
    company: "Grupo sion",
    description:
      "Responsable de la plataforma comisiones, muestra de contenido datos como también de generar reportes y análisis de comisiones.",
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2023",
    title: "Desarrollador web",
    company: "Consulter home",
    description:
      "Desarrollador web, implementación del sistema de cuestionarios y generación de reporte de resultado de las pruebas implementadas.",
  },
  {
    date: "Julio 2022",
    title: "Desarrollador software",
    company: "A-plus security",
    description:
      "Responsable del sistema de inscripciones, implementación de reportes y resultado de movimientos que se genera a travez de sistema.",
  },
  {
    date: "Octubre 2021",
    title: "Desarrollador web",
    company: "Precision wall",
    description:
      "Responsable del desarrollador web, implementación de componentes y utilidades, encargado de soporte.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
